body{background-color: #2F2FA2;}

#businessPageTitleBackground{
    min-height: 150px;
    text-align: center;
    margin-top: 2%;
}



#button-container-business{ height: 60px;}

#business-slogan{margin-top: 2%;}
