body{background-color: #2F2FA2;}

#contactPageTitleBackground{
    min-height: 110px;
    text-align: center;
    margin-top: 2%;
}

button{
    min-width: 233px;
    margin-left: 10%;
    margin-top: 1%;
    background-color: aqua;
    color: darkred;
    border-radius: 15px;
}

#button-container-network{height: 60px;}
#index-slogan{margin-top: 2%;}
.container#title{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
